DOTNET_WATCH_RESTART_ON_RUDE_EDIT=
ASPNETCORE_ENVIRONMENT=
ASPNETCORE_Kestrel__Certificates__Default__Password=
ASPNETCORE_Kestrel__Certificates__Default__Path=
Logging__LogLevel__Default=
Logging__LogLevel__Microsoft.AspNetCore=
AllowedHosts=
JwtOptions__Secret=
JwtOptions__Issuer=
JwtOptions__Audience=
JwtOptions__ExpiryInMinutes=
MongoDbOptions__Username=
MongoDbOptions__Password=
MongoDbOptions__Host=
MongoDbOptions__Port=
MongoDbOptions__DatabaseName=
CorsOptions__AllowedOrigins__0=
SmtpOptions__SmtpAddress=
SmtpOptions__SmtpPort=
SmtpOptions__SenderEmail=
SmtpOptions__SenderPassword=
EncryptionOptions__Key=

# MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=

# Mongo Express
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=
ME_CONFIG_MONGODB_URL=
